{% extends "assessment_app/layout.html" %}

{% block body %}

    <div class="signing">
        <h2>ورود دانشجویان</h2>

        <div class="alert_">
            {% if message %}
            <div class="alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
                {{ message.text }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}  
        </div>

        <form action="{% url 'login_s' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input autofocus type="text" class="form-control" name="username" id="username_input" placeholder="5628567729">
                <label for="username_input">نام کاربری (شماره دانشجویی)</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="password" id="password_input" placeholder="*****">
                <label for="password_input">رمز عبور</label>
            </div>
            <input class="btn btn-primary" type="submit" value="ورود">
        </form>

        <p>آیا حساب کاربری ندارید؟ <a href="{% url 'register_s' %}">ازینجا ثبت نام کنید.</a></p>
    </div>

{% endblock %}